<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pumpit.app.pumpitpro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconpumpit_v2_round"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true">
        <activity
            android:name="com.pumpit.app.pumpitpro.TransactionDetails"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pumpit.app.pumpitpro.NewExpense"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pumpit.app.pumpitpro.AllTransactionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pumpit.app.pumpitpro.Finances_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pumpit.app.pumpitpro.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pumpit.app.pumpitpro.SplashScr"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pumpit.app.pumpitpro.TrainerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pumpit.app.pumpitpro.AllMembActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.pumpit.app.pumpitpro.OverdueMembActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.pumpit.app.pumpitpro.ActiveMembActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.pumpit.app.pumpitpro.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pumpit.app.pumpitpro.MemberEdit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pumpit.app.pumpitpro.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.pumpit.app.pumpitpro.MemberDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.pumpit.app.pumpitpro.RequestADemo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.pumpit.app.pumpitpro.NewPlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pumpit.app.pumpitpro.NewMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pumpit.app.pumpitpro.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pumpit.app.pumpitpro.InAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pumpit.app.pumpitpro.Activity2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.pumpit.app.pumpitpro.LeadsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.pumpit.app.pumpitpro.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pumpit.app.pumpitpro.NewLeadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustPan" />

        <receiver android:name="com.pumpit.app.pumpitpro.AlarmNotificationReceiver" />
        <receiver
            android:name="com.pumpit.app.pumpitpro.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.pumpit.app.pumpitpro.MyService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>